<h2 class="text-center text-dark mt-5">Inicio de sesión</h2>
<div class="text-center mb-5 text-dark">danydev.co</div>
<div class="card my-5">

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="card-body cardbody-color p-lg-5">

        <div class="text-center">
            <img src="https://cdn.pixabay.com/photo/2016/03/31/19/56/avatar-1295397__340.png"
                 class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                 width="200px" alt="profile">
        </div>

        <div class="mb-3">
            <input type="text" class="form-control" id="Username" name="username" placeholder="Username" formControlName="username">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña" formControlName="password">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary px-5 mb-5 w-100" [disabled]="!loginForm.valid">Ingresar
            </button>
        </div>
        <div id="emailHelp" class="form-text text-center mb-5 text-dark d-none">Not
            Registered? <a href="#" class="text-dark fw-bold"> Create an
                Account</a>
        </div>
    </form>


</div>
